<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        debug="false"
        backupGlobals="true"
        colors="true"
        stopOnFailure="false"
        bootstrap="./vendor/autoload.php">

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./public</directory>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuite name="Gc7 Test Suite">
        <directory suffix=".php">./tests</directory>
    </testsuite>

</phpunit>
