<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        colors="true"
        stopOnFailure="false"
        bootstrap="./vendor/autoload.php">

    <testsuite name="Gc7 Test Suite">
        <directory suffix=".php">tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <directory>cov</directory>
            <exclude>
                <directory>public</directory>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
